@font-face {
    font-family: "Romagna";
    src: url('../fonts/Romagna/Webfonts/WOFF/Romagna-Regular.woff');
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: "Romagna";
    src: url('../fonts/Romagna/Webfonts/WOFF/Romagna-Bold.woff');
    font-weight: bold;
    font-style: normal;
}