* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Romagna", sans-serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    
    @include mq-max('xxl') {
        font-size: 54%;
    }

    @include mq-max('xl') {
        font-size: 48%;
    }
    
    @include mq-max('md') {
        font-size: 32%;
    }
}

section {
    background-color: white;
    padding: $body-padding-small $body-padding 16rem;

    @include mq-max('md') {
        padding: 2rem $body-padding-small;
    }
}

img {
    width: 100%;
    object-fit: cover;
}

a,
button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.gradient-btn {
    position: relative;
    color: white;
    font-size: max(24px, 3.2rem);
    font-weight: 600;

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;
    }

    &::before {
        // Change the border-radius per button below
        content: "";
        background: $dodgerblue;
        opacity: 0;
        transition: 0.3s ease;
    }

    &::after {
        // Change the "content" per each button in styles.css below
        @include row-center;
        opacity: 0;
        transition: 0.3s ease 0.1s;
    }

    &:hover {
        
        &::before,
        &::after {
            opacity: 1;
        }
        &::after {
            transition: 0s;
        }
    }

    @include mq-max('sm') {
        font-size: 32px;
    }
}

.gradient-btn-square {
    padding: 2rem 4rem;
    border-radius: 1rem;
    background: linear-gradient(-6deg, $dodgerblue, $aquamarine);
    
    @include mq-max('md') {
        padding: 3.2rem;
    }

    &::before {
        border-radius: $button-square-radius;
    }
}

.gradient-btn-circle {
    padding: 1.6rem 3.6rem;
    border-radius: 8rem;
    background: linear-gradient(90deg, $dodgerblue, $aquamarine);

    @include mq-max('md') {
        padding: 2.6rem 8rem;
    }

    @include mq-max('sm') {
        padding: 1.8rem 5.6rem;
    }

    &::before {
        border-radius: $button-circle-radius;
    }
}