* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Romagna", sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
    
    @include mq-max('xxl') {
        font-size: 54%;
    }

    @include mq-max('xl') {
        font-size: 48%;
    }
    
    @include mq-max('md') {
        font-size: 32%;
    }
}

section {
    background-color: white;
    padding: $body-padding-small $body-padding 16rem;

    @include mq-max('md') {
        padding: 2rem $body-padding-small;
    }
}

img {
    width: 100%;
    object-fit: cover;
}

a,
button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.gradient-btn-square {
    padding: 2rem 4rem;
    border-radius: 1rem;
    background: linear-gradient(-6deg, $dodgerblue, $aquamarine);
    color: white;
    font-size: max(24px, 3.2rem);
    font-weight: 600;
    
    @include mq-max('md') {
        padding: 3.2rem;
    }
}

.gradient-btn-circle {
    padding: 1.2rem 3.6rem;
    border-radius: 4rem;
    background: linear-gradient(90deg, $dodgerblue, $aquamarine);
    color: white;
    font-size: max(24px, 3.2rem);
    font-weight: 600;

    @include mq-max('md') {
        padding: 1.6rem 4.2rem;
    }
}