$max-breakpoints: (
  'xs': 320px,
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px
);

@mixin mq-max($breakpoint) {
  @if map-has-key($max-breakpoints, $breakpoint) {
    $value: map-get($max-breakpoints, $breakpoint);
    @media screen and (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}

$min-breakpoints: (
  'xs': 321px,
  'sm': 481px,
  'md': 769px,
  'lg': 1025px,
  'xl': 1201px
);

@mixin mq-min($breakpoint) {
  @if map-has-key($min-breakpoints, $breakpoint) {
    $value: map-get($min-breakpoints, $breakpoint);
    @media screen and (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
  }
}

@mixin row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin row-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}