@import './mixins',
'./fonts';


$whitesmoke: #F0F1F1;
$aquamarine: #5AF1BB;
$dodgerblue: #5199FF;

$width-constraint: 1920px;
$content-constraint: 1440px;

$body-padding: 4rem;
$body-padding-small: calc($body-padding / 2);

$button-square-padding: 2rem;
$button-square-radius: 1rem;
$button-circle-padding: 1.4rem 3.8rem;
$button-circle-radius: 4rem;


$cubic-ease: cubic-bezier(.19,1.1,.75,1.27);

$test: 2px dashed cornflowerblue;

// Global Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Romagna", sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;
    
    @include mq-max('xxl') {
        font-size: 54%;
    }

    @include mq-max('xl') {
        font-size: 48%;
    }
    
    @include mq-max('md') {
        font-size: 32%;
    }
}

section {
    background-color: white;
    padding: $body-padding-small $body-padding 16rem;

    @include mq-max('md') {
        padding: 2rem $body-padding-small;
    }
}

img {
    width: 100%;
    object-fit: cover;
}

a,
button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

//
// Site Content
//

.site-header {

    @include row-between;
    gap: 12px;
    // background-color: $whitesmoke; // if only the nav is fixed
    // position: fixed;
    // top: 0;
    // left: 50%;
    // translate: -50% 0;
    position: relative;
    width: 100vw;
    max-width: $width-constraint;
    margin: auto;
    padding: $body-padding-small $body-padding;
    z-index: 3;

    @include mq-max('md') {
        padding: $body-padding-small;
    }
    
    @include mq-max('sm') {
        padding: $body-padding $body-padding-small;
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;
        width: 100vw;
        height: 100%;
        background: $whitesmoke;
        z-index: -1;
    }

    .logo-wrapper {
        @include row-center;
        width: max(92px, 12rem);
        height: 32px;
        flex-shrink: 0;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .header-nav {
        // Position:fixing ONLY the nav
        position: fixed;
        top: $body-padding-small;
        left: 50%;
        translate: -50% 0;
        // Position:fixing ONLY the nav

        @include row-between;
        background: #2e3030cd;
        backdrop-filter: blur(4px);
        width: clamp(480px, 50%, 840px);
        border-radius: $button-circle-radius;
        padding: $button-circle-padding;
        z-index: 3;

        @include mq-max('xxl') {
            top: $body-padding-small;
        }


        &-links {
            font-size: 2.4rem;
            color: white;

            @include mq-max('md') {
                font-size: 8rem;
            }
        }

        // .login-mobile {
        //     display: none;

        //     @include mq-max('md') {
        //         display: block;
        //         background: white;
        //         color: black;
        //         margin-top: 24px;
        //     }
        // }

        @include mq-max('md') {
            background: black;
            // position: absolute;
            position: fixed;
            top: 0;
            left: auto;
            right: -100%;
            width: 100vw;
            height: 100vh;
            height: 100dvh;
            border-radius: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 12px;
            translate: 0 0;
            transition: 0.3s ease translate;
            
            &.active {
                translate: -100% 0;
                transition: 0.3s ease translate;
            }
        }
    }

    .login-btn {
        font-size: 2.4rem;
        padding: $button-circle-padding;
        border-radius: $button-circle-radius;
        background: black;
        color: white;

        @include mq-max('md') {
            display: none;
        }
    }
}

.burger {
    position: fixed;
    top: $body-padding-small;
    right: $body-padding-small;
    background-color: black;
    mix-blend-mode: difference;
    
    display: block;
    width: 32px;
    height: 32px;
    z-index: 5;

    @include mq-min('md') {
        display: none;
    }

    @include mq-max('sm') {
        top: $body-padding;
        translate: 0 -4px;
    }

    &-line {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 92%;
        height: 4px;
        border-radius: 2rem;
        background: white;
        transition: 0.3s $cubic-ease;
        
        &:nth-of-type(1) {
            translate: -50% calc(-50% - 224%);
        }
        &:nth-of-type(3) {
            translate: -50% calc(-50% + 224%);
        }
    }

    &.active {
        
        .burger-line {
            transition: 0.3s $cubic-ease;

            &:nth-of-type(1) {
                rotate: 45deg;
                translate: -50% -50%;
            }
            &:nth-of-type(2) {
                width: 0;
            }
            &:nth-of-type(3) {
                rotate: -45deg;
                translate: -50% -50%;
            }
        }
    }
}

.hero {
    @include column-center;
    background: $whitesmoke;
    padding-top: 4rem;

    &-headline {
        font-size: 10rem;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        z-index: 1;
    }
    
    &-img {
        position: relative;
        width: clamp(520px, 40%, 820px);
        translate: 0 -32px;

        @include mq-max('xl') {
            translate: 0 -24px;
        }
        
        @include mq-max('md') {
            width: 80%;
        }
        
        @include mq-max('sm') {
            width: 100%;
            translate: 0 0;
        }

        svg,
        figcaption {
            position: absolute;
            top: 8%;
            right: -2vw;

            @include mq-max('md') {
                top: 0;
                right: 0;
            }
        }

        .curved-arrow {
            // border: $test;
            translate: -48% 48px;
            width: 16%;
            height: auto;
            
            @include mq-max('md') {
                translate: -24% 64px;
            }

            @include mq-max('sm') {
                translate: -40% 44px;
                scale: 0.8;
            }
        }

        figcaption {
            font-size: max(14px, 2rem);
            font-family: "Athelas", serif;
            font-style: italic;
            text-align: center;
            translate: 12% 0;
            
            @include mq-max('md') {
                translate: 25% 50%;
            }
            
            @include mq-max('sm') {
                translate: 14% 25%;
                scale: 0.8;
            }

            .emoji {
                text-align: end;
                display: block;
                rotate: -6deg;
                translate: -24% 0;
                scale: 2;

                @include mq-max('sm') {
                    scale: 1.4;
                    rotate: -2deg;
                    translate: -8% -50%;
                }
            }
        }

        p {
            font-size: max(16px, 2.4rem);
            position: absolute;
            z-index: 2;
            bottom: 8%;
            left: -16%;
            
            @include mq-max('md') {
                line-height: 100%;
                left: -8%;
            }
            
            @include mq-max('sm') {
                font-size: 12px;
                left: 0;
            }

            .emoji {
                display: inline-block;
                translate: 12px 12px;
                transform: scale(1.5);

                @include mq-max('md') {
                    translate: 2px 2px;
                    transform: scale(1.2);
                }
            }
        }

        .gradient-glyph {
            background-image: url('../assets/hero-gradient.webp');
            background-size: cover;
            background-position: 50% 50%;
            position: absolute;
            bottom: 20%;
            left: 50%;
            translate: -50% 0;
            width: 24rem;
            height: clamp(460px, calc(16rem + 24vw), 680px);
            border-radius: 6px;
            overflow: hidden;
            z-index: -1;
            
            @include mq-max('md') {
                translate: -50% -12px;
                height: clamp(312px, calc(8rem + 52vw), 680px);
            }
            @include mq-max('sm') {
                width: 16rem;
            }
        }
    }
    
    &-cta {
        font-size: max(20px, 3.2rem);
        border-radius: $button-square-radius;
        padding: $button-square-padding;
        background: black;
        color: white;
        z-index: 1;

        @include mq-max('md') {
            margin: 6rem 0 10rem;
        }
    }
}

.offer {
    // border: $test;
    position: relative;
    padding: 24rem $body-padding;

    @include mq-max('sm') {
        padding: 12rem $body-padding;
    }

    .island {
        @include row-between;
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -36%;
        background: black;
        border-radius: 2rem;
        width: clamp(0px, calc(100% - $body-padding * 2), $content-constraint);
        height: 24rem;
        padding: 5.2rem 8rem;

        @include mq-max('md') {
            translate: -50% -24%;
        }
        
        @include mq-max('sm') {
            translate: -50% -36%;
            width: calc(100% - $body-padding);
            height: 12rem;
            padding: 3.2rem 2rem;
        }

        * {
            color: white;
        }

        img {
            width: 16rem;

            @include mq-max('md') {
                width: 12rem;
            }

            @include mq-max('sm') {
                width: 6rem;
            }

            &:nth-of-type(odd) {
                align-self: flex-start;
            }
            &:nth-of-type(even) {
                align-self: flex-end;
            }
        }

        p {
            font-size: max(16px, 3.6rem);
            width: 84rem;
            margin: auto;
            text-align: center;
            
            @include mq-max('md') {
                width: 90rem;
            }
            
            @include mq-max('sm') {
                font-size: 16px;
                width: 100%;
            }
        }
    }

    &-details {
        margin: auto;
        max-width: $content-constraint;

        &-header {
            margin-bottom: 8rem;
            
            @include mq-max('md') {
                text-align: center;
                margin-bottom: 4rem;
            }

            h2 {
                font-size: 8rem;
                font-weight: bold;
                margin-bottom: 1rem;

                @include mq-max('md') {
                    line-height: 120%;
                    margin-bottom: 1rem;
                }

                @include mq-max('sm') {
                    font-size: 6.4rem;
                }
            }

            p {
                font-size: max(20px, 2.8rem);
            }
        }

        &-info {
            @include row-between;

            @include mq-max('md') {
                flex-direction: column;
                gap: 4rem;
            }

            .offer-block {
                text-align: center;

                img {

                    @include mq-max('md') {
                        width: 48vw;
                    }
                }

                p {
                    font-size: max(16px, 2.8rem);
                    line-height: 140%;
                }

                &:nth-of-type(1) {

                    img {
                        translate: -10% 0;
                        
                        @include mq-max('md') {
                            translate: -16% 0;
                        }
                    }
                }
            }
        }

    }
}

.offer-cards {

    .island {

        @include mq-max('sm') {
            padding: 1.6rem;
        }
    }
}

