@font-face {
  font-family: "Romagna";
  src: url("../fonts/Romagna/Webfonts/WOFF/Romagna-Regular.woff");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "Romagna";
  src: url("../fonts/Romagna/Webfonts/WOFF/Romagna-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Romagna", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@media screen and (max-width: 1440px) {
  html {
    font-size: 54%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 48%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 32%;
  }
}

section {
  background-color: white;
  padding: 2rem 4rem 16rem;
}
@media screen and (max-width: 768px) {
  section {
    padding: 2rem 2rem;
  }
}

img {
  width: 100%;
  object-fit: cover;
}

a,
button {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.gradient-btn-square {
  padding: 2rem 4rem;
  border-radius: 1rem;
  background: linear-gradient(-6deg, #5199FF, #5AF1BB);
  color: white;
  font-size: max(24px, 3.2rem);
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .gradient-btn-square {
    padding: 3.2rem;
  }
}

.gradient-btn-circle {
  padding: 1.2rem 3.6rem;
  border-radius: 4rem;
  background: linear-gradient(90deg, #5199FF, #5AF1BB);
  color: white;
  font-size: max(24px, 3.2rem);
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .gradient-btn-circle {
    padding: 1.6rem 4.2rem;
  }
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 100vw;
  max-width: 1800px;
  margin: auto;
  padding: 2rem 4rem;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .site-header {
    padding: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .site-header {
    padding: 4rem 2rem;
  }
}
.site-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  height: 100%;
  background: #F0F1F1;
  z-index: -1;
}
.site-header .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(92px, 12rem);
  height: 32px;
  flex-shrink: 0;
}
.site-header .logo-wrapper svg {
  width: 100%;
  height: 100%;
}
.site-header .header-nav {
  position: fixed;
  top: 2rem;
  left: 50%;
  translate: -50% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #58595B;
  width: clamp(480px, 50%, 840px);
  border-radius: 4rem;
  padding: 0.6rem;
  z-index: 3;
}
@media screen and (max-width: 1440px) {
  .site-header .header-nav {
    top: 2rem;
  }
}
.site-header .header-nav-links {
  font-size: 2.4rem;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 4rem;
  transition: background 0.4s ease;
}
.site-header .header-nav-links:hover, .site-header .header-nav-links.active {
  background: black;
}
@media screen and (max-width: 768px) {
  .site-header .header-nav-links {
    font-size: 8rem;
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-nav {
    background: black;
    position: fixed;
    top: 0;
    left: auto;
    right: -100%;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    border-radius: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    translate: 0 0;
    transition: 0.3s ease translate;
  }
  .site-header .header-nav.active {
    translate: -100% 0;
    transition: 0.3s ease translate;
  }
}
.site-header .login-btn {
  font-size: 2.4rem;
  padding: 1.4rem 3.8rem;
  border-radius: 4rem;
  background: black;
  color: white;
}
@media screen and (max-width: 768px) {
  .site-header .login-btn {
    display: none;
  }
}

.burger {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: black;
  mix-blend-mode: difference;
  display: block;
  width: 32px;
  height: 32px;
  z-index: 5;
}
@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .burger {
    top: 4rem;
    translate: 0 -4px;
  }
}
.burger-line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 92%;
  height: 4px;
  border-radius: 2rem;
  background: white;
  transition: 0.3s cubic-bezier(0.19, 1.1, 0.75, 1.27);
}
.burger-line:nth-of-type(1) {
  translate: -50% -274%;
}
.burger-line:nth-of-type(3) {
  translate: -50% 174%;
}
.burger.active .burger-line {
  transition: 0.3s cubic-bezier(0.19, 1.1, 0.75, 1.27);
}
.burger.active .burger-line:nth-of-type(1) {
  rotate: 45deg;
  translate: -50% -50%;
}
.burger.active .burger-line:nth-of-type(2) {
  width: 0;
}
.burger.active .burger-line:nth-of-type(3) {
  rotate: -45deg;
  translate: -50% -50%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F0F1F1;
  padding-top: 4rem;
}
.hero-headline {
  font-size: 10rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}
.hero-img {
  position: relative;
  width: clamp(520px, 40%, 820px);
  translate: 0 -32px;
}
@media screen and (max-width: 1200px) {
  .hero-img {
    translate: 0 -24px;
  }
}
@media screen and (max-width: 768px) {
  .hero-img {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .hero-img {
    width: 100%;
    translate: 0 0;
  }
}
.hero-img svg,
.hero-img figcaption {
  position: absolute;
  top: 8%;
  right: -2vw;
}
@media screen and (max-width: 768px) {
  .hero-img svg,
  .hero-img figcaption {
    top: 0;
    right: 0;
  }
}
.hero-img .curved-arrow {
  translate: -48% 48px;
  width: 16%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .hero-img .curved-arrow {
    translate: -24% 64px;
  }
}
@media screen and (max-width: 480px) {
  .hero-img .curved-arrow {
    translate: -40% 44px;
    scale: 0.8;
  }
}
.hero-img figcaption {
  font-size: max(14px, 2rem);
  font-family: "Athelas", serif;
  font-style: italic;
  text-align: center;
  translate: 12% 0;
}
@media screen and (max-width: 768px) {
  .hero-img figcaption {
    translate: 25% 50%;
  }
}
@media screen and (max-width: 480px) {
  .hero-img figcaption {
    translate: 14% 25%;
    scale: 0.8;
  }
}
.hero-img figcaption .emoji {
  text-align: end;
  display: block;
  rotate: -6deg;
  translate: -24% 0;
  scale: 2;
}
@media screen and (max-width: 480px) {
  .hero-img figcaption .emoji {
    scale: 1.4;
    rotate: -2deg;
    translate: -8% -50%;
  }
}
.hero-img p {
  font-size: max(16px, 2.4rem);
  position: absolute;
  z-index: 2;
  bottom: 8%;
  left: -16%;
}
@media screen and (max-width: 768px) {
  .hero-img p {
    line-height: 100%;
    left: -8%;
  }
}
@media screen and (max-width: 480px) {
  .hero-img p {
    font-size: 12px;
    left: 0;
  }
}
.hero-img p .emoji {
  display: inline-block;
  translate: 12px 12px;
  transform: scale(1.5);
}
@media screen and (max-width: 768px) {
  .hero-img p .emoji {
    translate: 2px 2px;
    transform: scale(1.2);
  }
}
.hero-img .gradient-glyph {
  background-image: url("../assets/hero-gradient.webp");
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  bottom: 20%;
  left: 50%;
  translate: -50% 0;
  width: 24rem;
  height: clamp(460px, 16rem + 24vw, 680px);
  border-radius: 6px;
  overflow: hidden;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .hero-img .gradient-glyph {
    translate: -50% -12px;
    height: clamp(312px, 8rem + 52vw, 680px);
  }
}
@media screen and (max-width: 480px) {
  .hero-img .gradient-glyph {
    width: 16rem;
  }
}
.hero-cta {
  font-size: max(20px, 3.2rem);
  border-radius: 1rem;
  padding: 2rem;
  background: black;
  color: white;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .hero-cta {
    margin: 6rem 0 10rem;
  }
}

.offer {
  position: relative;
  padding: 20rem 4rem 16rem;
}
@media screen and (max-width: 480px) {
  .offer {
    padding: 12rem 4rem;
  }
}
.offer .island {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -36%;
  background: black;
  border-radius: 2rem;
  width: clamp(0px, 100% - 8rem, 1220px);
  height: 22rem;
  padding: 4.8rem 8rem;
}
@media screen and (max-width: 768px) {
  .offer .island {
    translate: -50% -24%;
  }
}
@media screen and (max-width: 480px) {
  .offer .island {
    translate: -50% -36%;
    width: calc(100% - 4rem);
    height: 12rem;
    padding: 3.2rem 2rem;
  }
}
.offer .island * {
  color: white;
}
.offer .island p {
  font-size: max(16px, 3.6rem);
  width: 84rem;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .offer .island p {
    width: 90rem;
  }
}
@media screen and (max-width: 480px) {
  .offer .island p {
    font-size: 16px;
    width: 100%;
  }
}
.offer-details {
  margin: auto;
  max-width: 1220px;
}
.offer-details-header {
  margin-bottom: 8rem;
}
@media screen and (max-width: 768px) {
  .offer-details-header {
    text-align: center;
    margin-bottom: 4rem;
  }
}
.offer-details-header h2 {
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .offer-details-header h2 {
    line-height: 120%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .offer-details-header h2 {
    font-size: 6.4rem;
  }
}
.offer-details-header p {
  font-size: max(20px, 2.8rem);
}
.offer-details-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .offer-details-info {
    flex-direction: column;
    gap: 2rem;
  }
}
.offer-details-info .offer-block {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .offer-details-info .offer-block img {
    width: 48vw;
  }
}
.offer-details-info .offer-block p {
  font-size: max(16px, 2.8rem);
  line-height: 140%;
}

.offer-icons .island {
  overflow: hidden;
}
.offer-icons .island .marquee {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 2.4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: marquee 40s linear infinite;
}
@media screen and (max-width: 768px) {
  .offer-icons .island .marquee {
    animation: marquee 24s linear infinite;
    padding: 2.4rem 0;
  }
}
@media screen and (max-width: 768px) {
  .offer-icons .island .marquee {
    animation: marquee 16s linear infinite;
    padding: 1.2rem 0;
  }
}
@keyframes marquee {
  to {
    translate: -50% 0;
  }
}
.offer-icons .island .marquee img {
  width: 20rem;
}
@media screen and (max-width: 768px) {
  .offer-icons .island .marquee img {
    width: 24rem;
  }
}
@media screen and (max-width: 480px) {
  .offer-icons .island .marquee img {
    width: 12rem;
  }
}
.offer-icons .island .marquee img:nth-of-type(odd) {
  align-self: flex-start;
}
.offer-icons .island .marquee img:nth-of-type(even) {
  align-self: flex-end;
}
.offer-icons .offer-details-info .offer-block img {
  width: 26rem;
}
.offer-icons .offer-details-info .offer-block:nth-of-type(1) img {
  translate: -10% 0;
}
@media screen and (max-width: 768px) {
  .offer-icons .offer-details-info .offer-block:nth-of-type(1) img {
    translate: -16% 0;
  }
}

.offer-cards {
  padding: 24rem 4rem 12rem;
}
@media screen and (max-width: 480px) {
  .offer-cards {
    padding: 12rem 4rem 6rem;
  }
}
@media screen and (max-width: 480px) {
  .offer-cards .island {
    padding: 1.6rem;
  }
}
.offer-cards .offer-details-info {
  height: 48rem;
  gap: 2.4rem;
  align-items: stretch;
}
@media screen and (max-width: 768px) {
  .offer-cards .offer-details-info {
    height: unset;
  }
}
.offer-cards .offer-details-info .offer-block {
  position: relative;
  background: #D9D9D9;
  border-radius: 4rem;
  width: 32%;
  align-items: flex-start;
  padding: 4rem;
}
@media screen and (max-width: 768px) {
  .offer-cards .offer-details-info .offer-block {
    margin: auto;
    width: 72rem;
    height: 86rem;
    padding: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .offer-cards .offer-details-info .offer-block {
    border-radius: 4rem;
    width: 32rem;
    height: 42rem;
    padding: 3.6rem;
  }
}
.offer-cards .offer-details-info .offer-block h3,
.offer-cards .offer-details-info .offer-block p {
  text-align: left;
}
.offer-cards .offer-details-info .offer-block h3 {
  font-size: max(32px, 3.6rem);
  font-weight: 600;
  margin-bottom: 2rem;
}
@media screen and (max-width: 480px) {
  .offer-cards .offer-details-info .offer-block h3 {
    font-size: 5.6rem;
    margin-bottom: 1rem;
  }
}
.offer-cards .offer-details-info .offer-block p {
  font-size: max(16px, 2.4rem);
  line-height: 100%;
}
.offer-cards .offer-details-info .offer-block img {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 2.6rem 0 4rem 0;
  width: 64%;
}
@media screen and (max-width: 1440px) {
  .offer-cards .offer-details-info .offer-block img {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .offer-cards .offer-details-info .offer-block img {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .offer-cards .offer-details-info .offer-block img {
    border-radius: 2rem 0 4rem 0;
  }
}

.benefits {
  scroll-margin-top: 8rem;
}
.benefits-outline {
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 2rem 2rem 0 0;
  width: clamp(0px, 100%, 1220px);
  margin: auto;
}
@media screen and (max-width: 768px) {
  .benefits-outline {
    border-radius: 0 0 10rem 10rem;
  }
}
.benefits-outline .benefits-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: 6rem auto;
  width: 88%;
}
@media screen and (max-width: 768px) {
  .benefits-outline .benefits-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 8rem auto 0;
  }
}
.benefits-outline .benefits-head h2 {
  font-size: 8rem;
  font-weight: bold;
  background: linear-gradient(150deg, #5AF1BB 38%, #5199FF 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .benefits-outline .benefits-head h2 {
    font-size: 10rem;
    text-align: center;
  }
}
.benefits-outline .benefits-head .benefits-cta {
  color: white;
  background-image: linear-gradient(10deg, #5AF1BB, #5199FF);
  font-size: max(20px, 3.2rem);
  border-radius: 1rem;
  padding: 3.2rem;
  color: white;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .benefits-outline .benefits-head .benefits-cta {
    margin: 6rem 0 10rem;
  }
}
.benefits-outline .benefits-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  color: white;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .benefits-outline .benefits-details {
    padding-bottom: 8rem;
  }
}
.benefits-outline .benefits-details .benefits-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: auto;
  padding-bottom: 10rem;
}
@media screen and (max-width: 768px) {
  .benefits-outline .benefits-details .benefits-card {
    width: 80%;
    padding-bottom: 4rem;
  }
}
.benefits-outline .benefits-details .benefits-card img {
  width: 40%;
}
.benefits-outline .benefits-details .benefits-card h3 {
  font-size: max(30px, 3.2rem);
  font-weight: 600;
  padding: 2rem 0;
  width: 60%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .benefits-outline .benefits-details .benefits-card h3 {
    padding: 2rem 0;
  }
}
.benefits-outline .benefits-details .benefits-card p {
  font-size: max(20px, 2.8rem);
  text-align: center;
  width: 80%;
}
.benefits-outline svg {
  position: absolute;
  bottom: 2px;
  translate: 0 100%;
  left: 0;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {
  .benefits-outline svg {
    display: none;
  }
}

.recent-work {
  max-width: 1220px;
  margin: auto;
}
.recent-work .work-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 0;
}
@media screen and (max-width: 1024px) {
  .recent-work .work-head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.recent-work .work-head h2 {
  font-size: 8rem;
  font-weight: bold;
}
@media screen and (max-width: 1024px) {
  .recent-work .work-head h2 {
    margin-bottom: 4rem;
  }
}
.recent-work .work-head .work-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
@media screen and (max-width: 1024px) {
  .recent-work .work-head .work-logos {
    width: 100%;
    justify-content: center;
  }
}
.recent-work .work-head .work-logos svg {
  width: 25%;
}
.recent-work .work-head .work-logos svg path {
  fill: black;
}
@media screen and (max-width: 1024px) {
  .recent-work .work-head .work-logos svg {
    width: 32rem;
  }
}
.recent-work .work-sites {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .recent-work .work-sites {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.recent-work .work-sites img {
  width: 48%;
}
@media screen and (max-width: 768px) {
  .recent-work .work-sites img {
    width: 92%;
  }
}

.unlock-access {
  scroll-margin-top: 8rem;
}
@media screen and (max-width: 768px) {
  .unlock-access {
    padding-top: 12rem;
  }
}
.unlock-access-outline {
  background: black;
  border-radius: 2rem;
  width: clamp(0px, 100%, 1220px);
  margin: auto;
  padding: 4rem 6rem;
}
@media screen and (max-width: 1440px) {
  .unlock-access-outline {
    padding: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .unlock-access-outline {
    border-radius: 10rem;
    padding: 12rem;
  }
}
@media screen and (max-width: 480px) {
  .unlock-access-outline {
    border-radius: 4rem;
    padding: 4rem 2rem;
  }
}
.unlock-access-head {
  margin-bottom: 6rem;
}
@media screen and (max-width: 1440px) {
  .unlock-access-head {
    margin-bottom: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .unlock-access-head {
    margin-bottom: 4rem;
  }
}
.unlock-access-head h2 {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  background: linear-gradient(120deg, #5AF1BB 0%, #5199FF 40%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 768px) {
  .unlock-access-head h2 {
    font-size: 10rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .unlock-access-head h2 {
    font-size: 8rem;
  }
}
.unlock-access-head h2 span {
  font-weight: 600;
  font-size: 6rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .unlock-access-head h2 span {
    font-size: 10rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .unlock-access-head h2 span {
    font-size: 8rem;
  }
}
.unlock-access-body {
  display: flex;
}
@media screen and (max-width: 768px) {
  .unlock-access-body {
    flex-direction: column;
  }
}
.unlock-access-body ul {
  width: 34%;
}
@media screen and (max-width: 768px) {
  .unlock-access-body ul {
    width: 100%;
  }
}
.unlock-access-body ul:nth-of-type(2) {
  width: 38%;
}
@media screen and (max-width: 768px) {
  .unlock-access-body ul:nth-of-type(2) {
    width: 100%;
  }
}
.unlock-access-body ul:nth-of-type(3) {
  width: 28%;
}
@media screen and (max-width: 768px) {
  .unlock-access-body ul:nth-of-type(3) {
    width: 100%;
  }
}
.unlock-access-body ul li {
  color: white;
  font-size: 3.2rem;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1024px) {
  .unlock-access-body ul li {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 768px) {
  .unlock-access-body ul li {
    font-size: 8rem;
    text-align: center;
    border: none;
  }
}
@media screen and (max-width: 480px) {
  .unlock-access-body ul li {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
}

.memberships {
  max-width: 1220px;
  margin: auto;
  padding: 0;
  scroll-margin-top: 128px;
}
@media screen and (max-width: 1440px) {
  .memberships {
    padding: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .memberships {
    padding: 2rem;
  }
}
.memberships-head {
  margin-bottom: 4rem;
  padding-left: 4rem;
}
@media screen and (max-width: 768px) {
  .memberships-head {
    padding: 8rem 4rem;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .memberships-head {
    padding: 4rem 2rem;
  }
}
.memberships-head h2 {
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .memberships-head h2 {
    line-height: 120%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .memberships-head h2 {
    font-size: 6.4rem;
  }
}
.memberships-head p {
  font-size: max(20px, 2.8rem);
}
.memberships-body {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .memberships-body {
    flex-direction: column;
  }
}
.memberships-body .column {
  background: black;
  border-radius: 2rem;
  width: 33.33%;
  padding: 4rem 4rem 8rem;
}
@media screen and (max-width: 768px) {
  .memberships-body .column {
    border-radius: 4rem;
    width: 100%;
    padding: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .memberships-body .column {
    border-radius: 2rem;
    padding: 4rem 4rem 8rem;
  }
}
.memberships-body .column > * {
  color: white;
}
.memberships-body .column h3 {
  font-size: 5.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .memberships-body .column h3 {
    font-size: 8rem;
  }
}
.memberships-body .column p {
  font-size: max(20px, 2.8rem);
  margin: 0 0 4rem;
}
@media screen and (max-width: 768px) {
  .memberships-body .column p {
    font-size: 4.2rem;
    line-height: 120%;
  }
}
.memberships-body .column .price {
  font-size: 5.2rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .memberships-body .column .price {
    font-size: 8rem;
    margin: 8rem 0;
  }
}
@media screen and (max-width: 480px) {
  .memberships-body .column .price {
    margin: 0 0 4rem;
  }
}
.memberships-body .column .gradient-btn-square {
  display: block;
  margin-bottom: 8rem;
  text-align: center;
}
.memberships-body .column ul {
  list-style: disc;
  list-style-position: inside;
}
.memberships-body .column ul li {
  font-size: max(16px, 2.6rem);
  padding: 0 0 2rem 2rem;
}
@media screen and (max-width: 1200px) {
  .memberships-body .column ul li {
    padding: 1.2rem 0;
  }
}
@media screen and (max-width: 768px) {
  .memberships-body .column ul li {
    font-size: 4rem;
    padding: 0 0 2rem 2rem;
  }
}
.memberships-body .refer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.memberships-body .refer-column > div {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .memberships-body .refer-column > div {
    height: unset;
  }
}
.memberships-body .refer-column hr {
  width: 100%;
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .memberships-body .refer-column hr {
    margin: 8rem 0 4rem 0;
  }
}
.memberships-body .refer-column h3 {
  align-self: flex-start;
}
.memberships-body .refer-column .gradient-btn-circle {
  display: block;
  align-self: center;
}

.faq {
  max-width: 1220px;
  margin: auto;
}
.faq h2 {
  font-size: 8rem;
  font-weight: bold;
  margin-top: 6rem;
}
@media screen and (max-width: 768px) {
  .faq h2 {
    font-size: 20vw;
    margin-bottom: 4rem;
  }
}
.faq .faq-content {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .faq .faq-content {
    padding-bottom: 12rem;
  }
}
.faq .faq-content .question-block {
  position: relative;
  padding: 2rem 0;
  text-align: left;
  color: black;
}
.faq .faq-content .question-block h3 {
  font-size: 3.6rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .faq .faq-content .question-block h3 {
    font-size: 5rem;
  }
}
.faq .faq-content .answer {
  font-size: 3rem;
  display: none;
  padding-top: 2rem;
}
@media screen and (max-width: 768px) {
  .faq .faq-content .answer {
    font-size: 4.2rem;
  }
}
.faq .faq-content .answer.active {
  display: block;
}

footer {
  background-color: black;
  padding: 8rem 4rem;
}
footer .footer-details {
  max-width: 1220px;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  footer .footer-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
footer .footer-details .footer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
@media screen and (max-width: 1024px) {
  footer .footer-details .footer-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
}
footer .footer-details .footer-head h2 {
  font-size: 8rem;
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 1024px) {
  footer .footer-details .footer-head h2 {
    text-align: center;
  }
}
footer .footer-details .footer-head .footer-cta {
  color: white;
  background-image: linear-gradient(10deg, #5AF1BB, #5199FF);
  font-size: max(20px, 3.2rem);
  border-radius: 1rem;
  padding: 2.4rem 8rem;
  color: white;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  footer .footer-details .footer-head .footer-cta {
    margin: 4rem 0;
  }
}
footer .footer-details .footer-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8rem 0;
}
@media screen and (max-width: 1024px) {
  footer .footer-details .footer-logos {
    width: 86%;
    flex-wrap: wrap;
    gap: 6vw;
  }
}
@media screen and (max-width: 768px) {
  footer .footer-details .footer-logos {
    margin: 8rem 0 16rem;
  }
}
@media screen and (max-width: 320px) {
  footer .footer-details .footer-logos {
    width: 20%;
  }
}
footer .footer-details .footer-logos img {
  width: 10%;
}
@media screen and (max-width: 1024px) {
  footer .footer-details .footer-logos img {
    width: 25%;
  }
}
footer .footer-details .footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  footer .footer-details .footer-footer {
    flex-direction: column;
  }
}
footer .footer-details .footer-footer img {
  width: 12%;
}
@media screen and (max-width: 1024px) {
  footer .footer-details .footer-footer img {
    width: 20rem;
    margin: 0 0 8rem;
  }
}
footer .footer-details .footer-footer a {
  font-family: "Mukta", sans-serif;
  color: white;
  font-size: max(20px, 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
footer .footer-details .footer-footer a:hover {
  border-bottom: 1px solid white;
}
footer .footer-details .footer-footer a svg {
  width: max(20px, 2rem);
  height: max(20px, 2rem);
  translate: 0 -2px;
}/*# sourceMappingURL=styles.css.map */