@import './mixins',
'./fonts';


$whitesmoke: #F0F1F1;
$aquamarine: #5AF1BB;
$dodgerblue: #5199FF;


$width-constraint: 1920px;
$content-constraint: 1024px;

$body-padding: 4rem;
$body-padding-small: $body-padding / 2;

$button-padding: 2rem 4rem;
// $button-radius: 1rem;
$button-radius: min(calc(0.4rem + 0.4vw), 1.6rem);

$base-font-size: 2.4rem;
$dynamic-sub-header-font-size: clamp(2.6rem, calc(0.2rem + 1.8vw), 4rem);
$dynamic-base-font-size: clamp(2.2rem, calc(0.2rem + 1.6vw), 3.2rem);
$dynamic-small-font-size: clamp(14px, calc(1.2rem + 1.2vw), 2.8rem);

// $section-radius: 2vw;
$section-radius: min(calc(1rem + 1vw), 2.4rem);

$cubic-ease: cubic-bezier(.19,1.1,.75,1.27);

$test: 2px dashed cornflowerblue;

// Global Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Romagna", sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;

    @include mq-max('xl') {
        font-size: 56%;
    }

    @include mq-max('md') {
        font-size: 44%;
    }
}

section {
    padding: $body-padding-small $body-padding 16rem;

    @include mq-max('md') {
        padding: 2rem calc($body-padding / 2);
    }
}

img {
    width: 100%;
    object-fit: cover;
}

a,
button {
    background: none;
    border: none;
    font-size: $base-font-size;
    text-decoration: none;
    cursor: pointer;
    // transition: 0.2s ease;

    // &:hover {
    //     opacity: 0.75;
    // }
}

p {
    font-size: $base-font-size;
}

// Site Content

.site-header {
    @include row-between;
    gap: 12px;
    // background-color: $whitesmoke; // if only the nav is fixed
    // position: fixed;
    // top: 0;
    // left: 50%;
    // translate: -50% 0;
    position: relative;
    width: 100vw;
    max-width: $width-constraint;
    margin: auto;
    padding: $body-padding-small $body-padding;
    z-index: 3;

    @include mq-max('xxl') {
        padding: $body-padding-small;
    }

    @include mq-max('sm') {
        padding: $body-padding calc($body-padding / 2);
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;
        width: 100vw;
        height: 100%;
        background: $whitesmoke;
        z-index: -1;
    }

    .logo-wrapper {
        // border: $test;
        @include row-center;
        width: 12rem;
        // width: 100%;
        height: 32px;
        flex-shrink: 0;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .header-nav {
        // Position:fixing ONLY the nav
        position: fixed;
        top: $body-padding-small;
        left: 50%;
        translate: -50% 0;
        // Position:fixing ONLY the nav

        @include row-between;
        // background: #58595bcd;
        background: #2e3030cd;
        backdrop-filter: blur(4px);
        width: clamp(480px, 56%, 1024px);
        padding: 1.6rem 2.4rem;
        border-radius: 4rem;
        z-index: 3;

        @include mq-max('xxl') {
            top: $body-padding-small;
        }


        &-links {
            color: white;
            transition: font-size 0s;

            @include mq-max('md') {
                font-size: 6rem;
            }
        }

        // .login-mobile {
        //     display: none;

        //     @include mq-max('md') {
        //         display: block;
        //         background: white;
        //         color: black;
        //         padding: $button-padding;
        //         border-radius: $button-radius;
        //         margin-top: 24px;
        //     }
        // }

        @include mq-max('md') {
            background: black;
            // position: absolute;
            position: fixed;
            top: 0;
            left: auto;
            right: -100%;
            height: 100vh;
            height: 100dvh;
            width: calc(100vw + 1px);
            border-radius: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 12px;
            translate: 0 0;
            transition: 0.3s ease translate;
            
            &.active {
                translate: calc(-100% + 1px) 0;
                transition: 0.3s ease translate;
            }
        }
    }

    .login-btn {
        background: black;
        color: white;
        padding: 1.6rem 3.6rem;
        border-radius: 4rem;

        @include mq-max('md') {
            display: none;
        }
    }

    .burger {
        // border: $test;
        position: fixed;
        top: $body-padding-small;
        right: $body-padding-small;
        
        display: block;
        width: 32px;
        height: 32px;
        z-index: 5;

        @include mq-min('md') {
            display: none;
        }

        @include mq-max('sm') {
            top: $body-padding;
            translate: 0 -4px;
        }

        &-line {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 100%;
            height: 4px;
            border-radius: 2rem;
            background: black;
            transition: 0.3s $cubic-ease, background 0.25s 0.2s;
            
            &:nth-of-type(1) {
                translate: -50% calc(-50% - 224%);
            }
            &:nth-of-type(3) {
                translate: -50% calc(-50% + 224%);
            }
        }

        &.active {
            
            .burger-line {
                background: white;
                transition: 0.3s $cubic-ease, background 0s;

                &:nth-of-type(1) {
                    rotate: 45deg;
                    translate: -50% -50%;
                }
                &:nth-of-type(2) {
                    width: 0;
                }
                &:nth-of-type(3) {
                    rotate: -45deg;
                    translate: -50% -50%;
                }
            }
        }
    }
}

.hero {
    @include column-center;
    background: $whitesmoke;

    &-headline {
        // border: $test;
        font-size: clamp(0px, calc(2.4rem + 4.6vw), 120px);
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        // width: clamp(320px, 68%, 1220px);
        z-index: 1;

        @include mq-max('xl') {
            translate: 0 12px;
        }

        @include mq-max('sm') {
            font-size: 12vw;
        }
    }
    
    &-img {
        // border: $test;
        position: relative;
        // width: clamp(0px, 64%, 1440px);
        width: clamp(0px, 40%, 820px);
        translate: 0 -20px;

        @include mq-max('xl') {
            translate: 0 0;
        }

        @include mq-max('md') {
            translate: 0 0;
            width: 100%;
        }

        svg,
        figcaption {
            position: absolute;
            top: 8%;
            right: -2vw;

            @include mq-max('md') {
                top: 0;
                right: 0;
            }
        }

        svg {
            // border: $test;
            translate: -32% 64px;
            width: 16%;
            height: auto;
        }

        figcaption {
            font-family: "Athelas", serif;
            font-style: italic;
            font-size: min(1.4vw, $base-font-size);
            text-align: center;

            @include mq-max('xl') {
                font-size: 1.8rem;
                translate: 40% 0;
            }
            
            @include mq-max('md') {
                font-size: 1.8rem;
                translate: 0 0;
            }
            
            @include mq-max('sm') {
                scale: 0.8;
            }

            .emoji {
                text-align: end;
                display: block;
                font-size: min(2.8vw, 4rem);
                rotate: -4deg;
                translate: 16% -32%;

                @include mq-max('xl') {
                    font-size: 3.2rem;
                }
                @include mq-max('md') {
                    translate: 0 0;
                }
                @include mq-max('sm') {
                    rotate: 2deg;
                    translate: 20% -60%;
                }
            }
        }

        p {
            position: absolute;
            z-index: 2;
            bottom: 12%;
            left: -12%;
            font-size: $dynamic-small-font-size;

            @include mq-max('xl') {
                left: -24%;
            }
            
            @include mq-max('md') {
                left: 0;
                line-height: 100%;
            }

            .emoji {
                display: inline-block;
                translate: 12px 12px;
                transform: scale(1.5);

                @include mq-max('md') {
                    translate: 2px 2px;
                    transform: scale(1.2);
                }
            }
        }

        .gradient-glyph {
            background-image: url('../assets/hero-gradient.webp');
            background-size: cover;
            background-position: 50% 50%;
            position: absolute;
            bottom: 20%;
            left: 50%;
            translate: -50% 0;
            width: clamp(136px, 16vw, 28rem);
            height: clamp(12px, calc(1rem + 34vw), 720px);
            border-radius: 6px;
            overflow: hidden;
            z-index: -1;
            
            @include mq-max('xl') {
                translate: -50% -20px;
            }

            @include mq-max('md') {
                width: clamp(136px, 24vw, 28rem);
                height: clamp(312px, calc(12rem + 52vw), 720px);
            }
        }
    }
    
    &-cta {
        background: black;
        color: white;
        font-size: $dynamic-base-font-size;
        padding: $button-padding;
        border-radius: $button-radius;
        z-index: 1;

        @include mq-max('md') {
            margin: 6rem 0 10rem;
        }
    }
}

.offer {
    position: relative;
    padding: 24rem $body-padding 12rem;
    
    @include mq-max('md') {
        padding: 16rem $body-padding 0;
    }

    @include mq-max('sm') {
        padding: 12rem $body-padding 0;
    }


    .island {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -36%;
        background: black;
        width: clamp(120px, calc(100% - calc($body-padding * 2)), $width-constraint);
        height: clamp(120px, calc(10rem + 10vw), 280px);
        border-radius: $section-radius;
        @include row-between;
        padding: 6rem 4vw;

        @include mq-max('md') {
            padding: 5.2rem 2.8vw;
        }

        @include mq-max('sm') {
            width: calc(100% - $body-padding);
            height: calc(8rem + 8vw);
            padding: 3.2rem 2.8vw;
        }

        * {
            color: white;
        }

        img {
            width: min(calc(12vw), 24rem);

            @include mq-max('md') {
                width: 14vw;
            }

            &:nth-of-type(odd) {
                align-self: flex-start;
            }
            &:nth-of-type(even) {
                align-self: flex-end;
            }
        }
    }

    &-details {
        margin: auto;
        max-width: $width-constraint;

        &-header {
            margin-bottom: min(4vw, 12rem);

            @include mq-max('md') {
                text-align: center;
            }

            h2 {
                font-size: min(6vw, 12rem);
                font-weight: bold;
                margin-bottom: 1rem;

                @include mq-max('md') {
                    font-size: 8vw;
                    line-height: 120%;
                    margin-bottom: 1rem;
                }
            }

            p {
                font-size: $dynamic-sub-header-font-size;
            }
        }

        &-info {
            @include row-between;
            padding: clamp(2rem, 4vw, 4rem) 0;

            @include mq-max('md') {
                flex-direction: column;
                gap: 4rem;
            }

            .offer-block {
                text-align: center;

                img {
                    width: min(24vw, 56rem);

                    @include mq-max('md') {
                        width: 48vw;
                    }
                }

                p {
                    font-size: $dynamic-base-font-size;
                    line-height: 140%;
                }

                &:nth-of-type(1) {

                    img {
                        translate: -10% 0;
                        
                        @include mq-max('md') {
                            translate: -16% 0;
                        }
                    }
                }
            }
        }

    }
}

