@import './mixins',
'./fonts';


$whitesmoke: #F0F1F1;
$aquamarine: #5AF1BB;
$dodgerblue: #5199FF;


$width-constraint: 1920px;
$body-padding: 2rem;

$button-padding: 2rem 4rem;
$button-radius: 1rem;

$base-font-size: 2.4rem;

$cubic-ease: cubic-bezier(.19,1.1,.75,1.27);


$test: 2px dashed cornflowerblue;

// Global Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Romagna", sans-serif;
    font-weight: 400;
}

html {
    font-size: 62.5%;

    @include mq-max('xl') {
        font-size: 56%;
    }

    @include mq-max('md') {
        font-size: 44%;
    }
}

section {
    // border: $test;
    // padding: 16rem $body-padding;
    padding: 8rem $body-padding 20rem;

    @include mq-max('sm') {
        padding: 6rem $body-padding;
    }
}

img {
    width: 100%;
    object-fit: cover;
}

a,
button {
    background: none;
    border: none;
    font-size: $base-font-size;
    text-decoration: none;
    cursor: pointer;
    // transition: 0.2s ease;

    // &:hover {
    //     opacity: 0.75;
    // }
}

p {
    font-size: $base-font-size;
}

// Site Content

header {
    @include row-between;
    gap: 12px;
    background-color: $whitesmoke; // if only the nav is fixed
    // position: fixed;
    // top: 0;
    // left: 50%;
    // translate: -50% 0;
    width: 100vw;
    max-width: $width-constraint;
    margin: auto;
    padding: $body-padding;
    z-index: 3;
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 12rem;
        background: $whitesmoke;
        z-index: -1;
    }

    .logo-wrapper {
        // border: 1px dashed coral;
        @include row-center;
        width: 12rem;
        height: 32px;
        flex-shrink: 0;

        svg {
            width: 100%;
        }
    }

    .header-nav {
        
        // Just fixing the nav
        position: fixed;
        top: $body-padding;
        left: 50%;
        translate: -50% 0;
        // Just fixing the nav

        @include row-between;
        // background: #58595bcd;
        background: #2e3030cd;
        backdrop-filter: blur(4px);
        width: clamp(524px, 50%, 1220px);
        padding: 1.6rem 2.4rem;
        border-radius: 4rem;
        z-index: 3;

        a {
            color: white;
            transition: font-size 0s;

            @include mq-max('md') {
                font-size: 4rem;
            }

            @include mq-max('md') {
                font-size: 6rem;
            }
        }

        // .login-mobile {
        //     display: none;

        //     @include mq-max('md') {
        //         display: block;
        //         background-color: white;
        //         color: black;
        //         padding: $button-padding;
        //         border-radius: $button-radius;
        //         margin-top: 24px;
        //     }
        // }

        @include mq-max('md') {
            background: black;
            // position: absolute;
            position: fixed;
            top: 0;
            left: auto;
            right: -100%;
            height: 100vh;
            height: 100dvh;
            width: calc(100vw + 1px);
            border-radius: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 12px;
            translate: 0 0;
            transition: 0.3s ease translate;
            
            &.active {
                translate: calc(-100% + 1px) 0;
                transition: 0.3s ease translate;
            }
        }

    }

    .login-btn {
        background-color: black;
        color: white;
        padding: 1.6rem 3.6rem;
        border-radius: 4rem;

        @include mq-max('md') {
            display: none;
        }
    }

    .burger {
        @include mq-min('md') {
            display: none;
        }

        // position: relative;
        position: fixed;
        top: $body-padding;
        right: $body-padding;

        display: block;
        width: 32px;
        height: 32px;
        z-index: 5;

        &-line {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 100%;
            height: 4px;
            border-radius: 2rem;
            background: black;
            transition: 0.3s $cubic-ease, background 0.25s 0.2s;
            
            &:nth-of-type(1) {
                translate: -50% calc(-50% - 224%);
            }
            &:nth-of-type(3) {
                translate: -50% calc(-50% + 224%);
            }
        }

        &.active {
            
            .burger-line {
                background: white;
                transition: 0.3s $cubic-ease, background 0s;

                &:nth-of-type(1) {
                    rotate: 45deg;
                    translate: -50% -50%;
                }
                &:nth-of-type(2) {
                    width: 0;
                }
                &:nth-of-type(3) {
                    rotate: -45deg;
                    translate: -50% -50%;
                }
            }
        }
    }
}

.hero {
    @include column-center;
    background-color: $whitesmoke;

    &-headline {
        // border: $test;
        font-size: min(calc(5.2rem + 5.2vw), 196px);
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        width: clamp(280px, 100%, 1440px);
        z-index: 1;

        @include mq-max('sm') {
            font-size: 6.4rem;
        }
    }
    
    &-img {
        // border: $test;
        position: relative;
        width: clamp(12px, 64%, 1440px);
        translate: 0 -64px;
        z-index: 1;

        @include mq-max('xl') {
            translate: 0 -32px;
        }

        @include mq-max('md') {
            translate: 0 0;
            width: 100%;
        }

        svg,
        figcaption {
            position: absolute;
            top: 8%;
            right: -2vw;

            @include mq-max('md') {
                top: 0;
                right: 0;
            }
        }

        svg {
            // border: $test;
            translate: -32% 64px;
            width: 16%;
            height: auto;
        }

        figcaption {
            font-family: "Athelas", serif;
            font-style: italic;
            font-size: min(1.4vw, $base-font-size);
            text-align: center;

            @include mq-max('xl') {
                font-size: 1.8rem;
                translate: 40% 0;
            }
            
            @include mq-max('md') {
                font-size: 1.8rem;
                translate: 0 0;
            }
            
            @include mq-max('sm') {
                scale: 0.8;
            }

            .emoji {
                text-align: end;
                display: block;
                font-size: min(2.8vw, 4rem);
                rotate: -4deg;
                translate: 16% -32%;

                @include mq-max('xl') {
                    font-size: 3.2rem;
                }
                @include mq-max('md') {
                    translate: 0 0;
                }
                @include mq-max('sm') {
                    rotate: 2deg;
                    translate: 20% -60%;
                }
            }
        }

        p {
            // border: $test;
            position: absolute;
            z-index: 2;
            bottom: 12%;
            left: -12%;
            font-size: min(calc(1.2rem + 1.2vw), 4rem);

            @include mq-max('xl') {
                left: -24%;
            }
            
            @include mq-max('md') {
                left: 0;
                line-height: 100%;
            }

            .emoji {
                display: inline-block;
                translate: 12px 12px;
                transform: scale(1.5);

                @include mq-max('md') {
                    translate: 2px 2px;
                    transform: scale(1.2);
                }
            }
        }

    }
    
    &-cta {
        background: black;
        color: white;
        font-size: 3.6rem;
        padding: $button-padding;
        border-radius: $button-radius;
        z-index: 1;

        @include mq-max('md') {
            margin-top: 6rem;
        }
    }

    .gradient-glyph {
        background-image: url('../assets/hero-gradient.webp');
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
        top: 148px;
        width: calc(64px + 18vw);
        height: clamp(500px, 54vw, 1220px);
        border-radius: 6px;
        overflow: hidden;

        @include mq-max('md') {
            height: clamp(456px, 80vw, 1220px);
            top: 96px;
        }
        
        @include mq-max('sm') {
            height: clamp(340px, 80vw, 1220px);
        }
    }
}

.offer {
    position: relative;
    padding: 24rem $body-padding 0;

    .brands {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% -36%;
        background-color: black;
        width: 86%;
        height: 320px;
        border-radius: 3.2rem;
    }

    &-details {

        h2 {
            font-size: 8rem;
            font-weight: bold;
        }
    }
}