@font-face {
  font-family: "Romagna";
  src: url("../fonts/Romagna/Webfonts/WOFF/Romagna-Regular.woff");
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: "Romagna";
  src: url("../fonts/Romagna/Webfonts/WOFF/Romagna-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Romagna", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 56%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 44%;
  }
}

section {
  padding: 2rem 4rem 16rem;
}
@media screen and (max-width: 1200px) {
  section {
    padding: 4rem 4rem 16rem;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 2rem 2rem;
  }
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a,
button {
  background: none;
  border: none;
  font-size: 2.4rem;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 2.4rem;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  padding: 4rem;
  z-index: 3;
}
@media screen and (max-width: 480px) {
  .site-header {
    padding: 4rem 2rem;
  }
}
.site-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100vw;
  height: 100%;
  background: #F0F1F1;
  z-index: -1;
}
.site-header .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 32px;
  flex-shrink: 0;
}
.site-header .logo-wrapper svg {
  width: 100%;
}
.site-header .header-nav {
  position: fixed;
  top: 4rem;
  left: 50%;
  translate: -50% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(46, 48, 48, 0.8039215686);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: clamp(480px, 50%, 1220px);
  padding: 1.6rem 2.4rem;
  border-radius: 4rem;
  z-index: 3;
}
.site-header .header-nav a {
  color: white;
  transition: font-size 0s;
}
@media screen and (max-width: 768px) {
  .site-header .header-nav a {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-nav a {
    font-size: 6rem;
  }
}
@media screen and (max-width: 768px) {
  .site-header .header-nav {
    background: black;
    position: fixed;
    top: 0;
    left: auto;
    right: -100%;
    height: 100vh;
    height: 100dvh;
    width: calc(100vw + 1px);
    border-radius: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    translate: 0 0;
    transition: 0.3s ease translate;
  }
  .site-header .header-nav.active {
    translate: calc(-100% + 1px) 0;
    transition: 0.3s ease translate;
  }
}
.site-header .login-btn {
  background: black;
  color: white;
  padding: 1.6rem 3.6rem;
  border-radius: 4rem;
}
@media screen and (max-width: 768px) {
  .site-header .login-btn {
    display: none;
  }
}
.site-header .burger {
  position: fixed;
  top: 4rem;
  right: 4rem;
  display: block;
  width: 32px;
  height: 32px;
  z-index: 5;
}
@media screen and (min-width: 769px) {
  .site-header .burger {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .site-header .burger {
    padding: 0 2rem;
    right: 2rem;
  }
}
.site-header .burger-line {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 4px;
  border-radius: 2rem;
  background: black;
  transition: 0.3s cubic-bezier(0.19, 1.1, 0.75, 1.27), background 0.25s 0.2s;
}
.site-header .burger-line:nth-of-type(1) {
  translate: -50% -274%;
}
.site-header .burger-line:nth-of-type(3) {
  translate: -50% 174%;
}
.site-header .burger.active .burger-line {
  background: white;
  transition: 0.3s cubic-bezier(0.19, 1.1, 0.75, 1.27), background 0s;
}
.site-header .burger.active .burger-line:nth-of-type(1) {
  rotate: 45deg;
  translate: -50% -50%;
}
.site-header .burger.active .burger-line:nth-of-type(2) {
  width: 0;
}
.site-header .burger.active .burger-line:nth-of-type(3) {
  rotate: -45deg;
  translate: -50% -50%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F0F1F1;
}
.hero-headline {
  font-size: min(5.2rem + 5.2vw, 196px);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: clamp(280px, 100%, 1440px);
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .hero-headline {
    font-size: 6.4rem;
  }
}
.hero-img {
  position: relative;
  width: clamp(12px, 64%, 1440px);
  translate: 0 -64px;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .hero-img {
    translate: 0 -32px;
  }
}
@media screen and (max-width: 768px) {
  .hero-img {
    translate: 0 0;
    width: 100%;
  }
}
.hero-img svg,
.hero-img figcaption {
  position: absolute;
  top: 8%;
  right: -2vw;
}
@media screen and (max-width: 768px) {
  .hero-img svg,
  .hero-img figcaption {
    top: 0;
    right: 0;
  }
}
.hero-img svg {
  translate: -32% 64px;
  width: 16%;
  height: auto;
}
.hero-img figcaption {
  font-family: "Athelas", serif;
  font-style: italic;
  font-size: min(1.4vw, 2.4rem);
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .hero-img figcaption {
    font-size: 1.8rem;
    translate: 40% 0;
  }
}
@media screen and (max-width: 768px) {
  .hero-img figcaption {
    font-size: 1.8rem;
    translate: 0 0;
  }
}
@media screen and (max-width: 480px) {
  .hero-img figcaption {
    scale: 0.8;
  }
}
.hero-img figcaption .emoji {
  text-align: end;
  display: block;
  font-size: min(2.8vw, 4rem);
  rotate: -4deg;
  translate: 16% -32%;
}
@media screen and (max-width: 1200px) {
  .hero-img figcaption .emoji {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-img figcaption .emoji {
    translate: 0 0;
  }
}
@media screen and (max-width: 480px) {
  .hero-img figcaption .emoji {
    rotate: 2deg;
    translate: 20% -60%;
  }
}
.hero-img p {
  position: absolute;
  z-index: 2;
  bottom: 12%;
  left: -12%;
  font-size: min(1.2rem + 1.2vw, 2.8rem);
}
@media screen and (max-width: 1200px) {
  .hero-img p {
    left: -24%;
  }
}
@media screen and (max-width: 768px) {
  .hero-img p {
    left: 0;
    line-height: 100%;
  }
}
.hero-img p .emoji {
  display: inline-block;
  translate: 12px 12px;
  transform: scale(1.5);
}
@media screen and (max-width: 768px) {
  .hero-img p .emoji {
    translate: 2px 2px;
    transform: scale(1.2);
  }
}
.hero-cta {
  background: black;
  color: white;
  font-size: 3.6rem;
  padding: 2rem 4rem;
  border-radius: min(0.4rem + 0.4vw, 1.6rem);
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .hero-cta {
    margin: 6rem 0 10rem;
  }
}
.hero .gradient-glyph {
  background-image: url("../assets/hero-gradient.webp");
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 148px;
  width: clamp(0px, 64px + 18vw, 48rem);
  height: clamp(500px, 54vw, 1220px);
  border-radius: 6px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .hero .gradient-glyph {
    height: clamp(324px, 80vw, 1220px);
    top: 96px;
  }
}

.offer {
  position: relative;
  padding: 24rem 4rem 12rem;
}
@media screen and (max-width: 768px) {
  .offer {
    padding: 16rem 4rem 0;
  }
}
@media screen and (max-width: 480px) {
  .offer {
    padding: 12rem 4rem 0;
  }
}
.offer .island {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -36%;
  background: black;
  width: clamp(120px, 100% - 8rem, 1920px);
  height: clamp(120px, 10rem + 10vw, 280px);
  border-radius: min(1rem + 1vw, 2.4rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 4vw;
}
@media screen and (max-width: 768px) {
  .offer .island {
    padding: 5.2rem 2.8vw;
  }
}
@media screen and (max-width: 480px) {
  .offer .island {
    width: calc(100% - 4rem);
    height: calc(8rem + 8vw);
    padding: 3.2rem 2.8vw;
  }
}
.offer .island * {
  color: white;
}
.offer .island img {
  width: min(12vw, 24rem);
}
@media screen and (max-width: 768px) {
  .offer .island img {
    width: 14vw;
  }
}
.offer .island img:nth-of-type(odd) {
  align-self: flex-start;
}
.offer .island img:nth-of-type(even) {
  align-self: flex-end;
}
.offer-details {
  margin: auto;
  max-width: 1920px;
}
.offer-details-header {
  margin-bottom: min(4vw, 12rem);
}
@media screen and (max-width: 768px) {
  .offer-details-header {
    text-align: center;
  }
}
.offer-details-header h2 {
  font-size: min(6vw, 12rem);
  font-weight: bold;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .offer-details-header h2 {
    font-size: 8vw;
    line-height: 120%;
    margin-bottom: 1rem;
  }
}
.offer-details-header p {
  font-size: clamp(2.6rem, 0.2rem + 1.8vw, 4rem);
}
.offer-details-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(2rem, 4vw, 4rem) 0;
}
@media screen and (max-width: 768px) {
  .offer-details-info {
    flex-direction: column;
    gap: 4rem;
  }
}
.offer-details-info .offer-block {
  text-align: center;
}
.offer-details-info .offer-block img {
  width: min(24vw, 56rem);
}
@media screen and (max-width: 768px) {
  .offer-details-info .offer-block img {
    width: 48vw;
  }
}
.offer-details-info .offer-block p {
  font-size: clamp(1.8rem, 0.2rem + 1.6vw, 3.2rem);
  line-height: 140%;
}
.offer-details-info .offer-block:nth-of-type(1) img {
  translate: -10% 0;
}
@media screen and (max-width: 768px) {
  .offer-details-info .offer-block:nth-of-type(1) img {
    translate: -16% 0;
  }
}/*# sourceMappingURL=styles.css.map */